/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}



body {
    font-family: 'Poppins';
    font-style: normal;
}


.container {
    margin: 0px auto;
    padding: 0px 15px;
}
.header__container {
    max-width: 1372px;
    display: flex;
    align-items: center;
    margin-top: 17px;
}
.logo {
    flex: 1 1 auto;
    max-width: 441px;
}
.navbar {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.navbar__item {
    margin-right: 25px;
}
.menu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
.navbar__link {
    line-height: 27px;
    color: #FFFFFF;
}

.navbar__link--color {
    color: #FFB742;
}

.link {
    color: #212529;
}
.btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    /* identical to box height, or 167% */
    background: #FFB742;
    border-radius: 50px;
    height: 54px;
    width: 147.57px;
}
.header__btn {
    width: 121px;
}
.header__btn:hover {
    background-color: #212529;
    color: #FFB742;
    transition: 0.3s;
}









.hero {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: capitalize;
}
.hero__container {
    max-width: 994px;
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero__item1 {
    display: flex;
    font-size: 32px;
    line-height: 51px;
}
.hero__hand {
    padding-top: 5px;
    padding-left: 8px;
}
.hero__item2 {
    font-size: 48px;
    line-height: 91px;
}
.hero__item3 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 51px;
}
.hero__avatar {
}






.meter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}
.meter__container {
    max-width: 1326px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 120px);
    grid-gap: 24px;
    margin: 136px auto;
    
}
.meter__column {
    background: rgba(56, 62, 69, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
.meter__img {
}
.meter__num {
    color: #FFB742;
    font-size: 32px;
    line-height: 40px;
    align-self: center;
}
.meter__text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 31px;
    display: flex;
    flex-direction: column;
}


/* -----------------------------------------------------*/

.about {
}
.about__container {
    max-width: 1372px;
    display: flex;
}
.about__img {

}
.about__content {
    display: flex;
    flex-direction: column;
    margin-top: 85.4px;
    max-width: 682px;
    margin-left: 40px;
}
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;

    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;

    max-width: 148px;
    text-align: center;
    height: 42px;
    
}
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 10.27px;
}
.about__text {
    color: #D5D5D5;
    margin: 29.49px 0px 54.45px 0px;
    max-width: 672px;
}
.text {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
}



/* ---------------------------------------------------------------------*/


.skills {
}
.skills__container {
    max-width: 1369px;
    display: flex;
    justify-content: space-between;
    margin-top: 136.93px;
    margin-bottom: 35px;
}
.skills__content {
}
.skills__title {
    line-height: 56px;
    max-width: 518px;
    margin: 0.49px 0px 29.49px 10px;
}
.skills__text {
    color: #FFFFFF;
    max-width: 672px;
    margin: 0px 0px 63.25px 10px;
}
.skills__items {
}

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 71.71px;

}
.arrow__item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}



/* --------------------------------------------*/


.portfolio {
}
.content__container {
    margin-top: 35px;
    max-width: 1264px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portflolio__intro {
    width: 160px;
    margin-top: 35px;
}
.title {
}
.portfolio__menu {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 30px;
    width: 652px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.menu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
}
.menu__item {
}
.portfolio--yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    background: #FFB742;
    width: 61px;
    height: 40px;
    border-radius: 3px;
}
.menu__itme {
}
.porfolio__img {
    max-width: 100%;
} 
.img__container {
    display: flex;
    gap: 1.978rem;
}
.column__item1 {
    margin-bottom: 31.29px;
}
.column__item2 {
}
.column__item3 {
    margin-bottom: 30.32px;
}
.column__item4 {
}
.column__item5 {
    margin-bottom: 30.29px;
}
.column__item6 {
}




/* --------------------------------------------*/



.review {
}
.review__container {
    width: 1246.91px;
    display: flex;
    flex-direction: column;
    
    
}

.review__intro {
    margin-top: 136.5px;
    min-width: 192px;
    margin-bottom: 7px;
    margin-left: 512px;
}

.review__title {
    margin-bottom: 88px;
    margin-left: 406px;
    font-size: 39.2896px;
    line-height: 46px;
    width: 424px;
    text-align: center;

}
.title {
}
.review__cards {
    display: flex;
    justify-content: space-between;
    width: 1216.91px;
    
}
.review_card {
    display: flex;
    flex-direction: column;
    width: 378.91px;
    height: 443.55px;
    background: #FFFFFF;
    border-radius: 7.92699px;
}
.review__stars {
    display: flex;
    padding: 50px 0px 21.55px 33px;
}
.review__stars-item {
    padding-right: 9px;
}
.review__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */
    

    color: #000000;
    margin-left: 33px;
    width: 294px;
}
.review__author {
    display: flex;
    padding-left: 32px;
    padding-top: 36px;
}
.review__author-avatar {
}
.review__author-text {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}
.review__author-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 170% */


    color: #000000;

}
.review__author-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    /* identical to box height, or 212% */


    color: #000000;
}
.review__bottom-element {
    display: flex;
    margin: 65.45px 0px 115px 571px;
}
.review__bottom-item1 {
    width: 49px;
    height: 0px;
    border: 10px solid #FFB742;
     
}
.review__bottom-item2 {
    width: 20px;
    height: 0px; 
    margin-left: 7px;   
}






.start {
    position: absolute;
    left: 162px;
    top: 4250px;
    z-index: 226;
}
.start__container {
    display: flex;
    align-items: center;
    height: 174px;
    width: 1146px;
    border-radius: 15px;
    background: #FFB742;
}
.start__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 34.6667px;
    line-height: 53px;
    color: #000000;
    margin-left: 79px;
}
.start__subtittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    color: #000000;
    height: 60px;
    width: 359px;
    margin: 0px 69px 0px 76px;


}
.start__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 54px;
    border: 2px solid #000000;
    border-radius: 50px;
    background: #FFB742;

}
.start__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
/* identical to box height, or 167% */


color: #212529;


}







.footer {
    position: absolute;
    width: 100%;
    height: 470px;
    left: 0px;
    top: 4339px;
    background: #1C1C1C;;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50px;
    top: 148px;
    

    width: 1372px;
    display: flex;
    margin-bottom: 93.22px;
    height: 322px;
}
.container {
}
.footer__who {
    max-width: 381.85px;
}
.footer__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */


    color: #FFB742;
}
.footer__who-text{
    margin-top: 30.62px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 32px;
/* or 202% */


color: #D4D4D4;
width: 253.16px;
}
.footer__text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    /* or 202% */


    color: #7B7B7B;
    width: 319px;
    height: 73px;
    margin-bottom: 43px;
}
.footer-list {
    
}
.footer__titel {
}
.footer-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    /* or 148% */
    margin-top: 8.34px;
    margin-bottom: 13.13px;


    color: #F5FBF2;
}
.footer__items {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    /* or 202% */


    color: #7B7B7B;
}
.footer__item {
}
.footer__newsletter {
    position: relative;
    width: 319px;
    height: 114px;
}
.footer-title {

}
.footer__form {
}
.input {
    position: relative;
    display: flex;
    align-items: center;
    background: #212529;
    border-radius: 49px;
    width: 310px;
    height: 63px;
}
.footer__input {
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15.8118px;
    line-height: 23px;
    color: #7C7C7C;
    margin-left: 24px;
    background: #212529;
}
.footer__icon {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64.75px;
    height: 63.25px;
    border-radius: 48px;
    background: #FFB742;
    color: #212529;
    position: absolute;
    z-index: 22;
}
.footer__icon-svg {
    width: 22.99px;
    height: 23px;
    

}
